services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    command: ["streamlit", "run", "src/app.py", "--server.port=8501", "--server.address=0.0.0.0"]